<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Bites</title>
    <link rel="stylesheet" href="/Public/CSS/Styles.css">
</head>

<body>
    <section>
        <div id="main">
            <div id="header">
                <img src="/images/logo.png" alt="" height="60px">
                <h1>Green Bites</h1>
            </div>

            <div id="navbar">
                <a href="/views/mainpage">Main Page</a>
                <a href="salad.html">Salad</a>
                <a href="juice.html">Juice</a>
                <a href="aboutus.html">About Us</a>
            </div>

            <div id="serch">
                <input type="text" placeholder="Search">
                <a id="sign" href="signup.html">Sign Up</a>
            </div>
        </div>
    </section>
<div class="container">

