<%- include('./Layouts/header.ejs') -%>
<div >
    <h1 style="justify-self: center;">About Us</h1>
    <p>Green Bite is a user-friendly web application designed to help users discover and explore nutritious and
        delicious recipes. It provides a collection of healthy meal options, including salads, smoothies, juices, and
        balanced meals, making it easier for users to maintain a healthy lifestyle. With easy navigation and a clean
        interface, Green Bite offers a seamless experience for anyone looking to eat healthier and make informed food
        choices.</p>
    <h2 style="justify-self: center;">Our Mission</h2>
    <p>
        At Green Bite, our mission is to inspire and empower people to adopt a healthier lifestyle through nutritious
        and wholesome recipes. We believe that healthy eating should be accessible, enjoyable, and sustainable. By
        providing carefully curated recipes with detailed nutrition information, we aim to help users make better food
        choices that contribute to overall well-being and long-term health.
        <br>
    <p style="justify-self: center;"> Eat healthy. Eat Green Bite. 🥗🍊🌿</p>
    <br>
    </p>
    <h2 style="justify-self: center;">Meet Us</h2>
    <div style="display: flex; justify-content: space-around;">
        
        <div style="display: flex; flex-direction: column; align-items: center;">
            <img src="/images/profile1.png" height=250px alt="profile image">
            <h2 style="color:#d57157;">Ethar</h2>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <img src="/images/profile2.png" height=250px alt="profile image">
            <h2 style="color:#d57157;">Elaf</h2>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <img src="/images/profile3.png" height=250px alt="profile image">
            <h2 style="color:#d57157;">Hadeel</h2>
        </div>

    </div>
</div>
    <%- include('./Layouts/footer.ejs') -%>