<%- include('./Layouts/header.ejs') -%>

<section>
   <div class="daily">
      <h2>Welcome to Green Bites!</h2>
      <h1>Today's Motivation:</h1>
      <p class="txt">"<%= dailyText %>"</p>
   </div>
</section>

<%- include('./Layouts/footer.ejs') -%>