<footer class="footer">
    <a href="mainpage.html"> Main Page</a>

    <a href="salad.html">Salad</a>

    <a href="juice.html">Juice</a>

    <a href="aboutus.html">About Us</a>
</footer>
</body>
</html>